*{
    padding: 0;
    margin: 0;
}
.upperwrap{
    display: flex;
    justify-content: space-between;
    padding: 100px;
}
.upperwrap img{
    display: block;
    margin: 25px;
}
.list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 35px;
    list-style-type: none; 
}
.list a{
    text-decoration: none;
    display: block;
    font-size: 20px;
    font-weight: bold;
    color: black;
    opacity: 0.7;
}
.list a:active{
    color: black;
}
.herowrapper{
    display: flex;
    padding: 100px;
    column-gap: 100px;
    justify-content: space-between;
    align-items: center;
    
}
.left{
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    max-width: 400px;

}
.left h2{
    font-weight: 700;
font-size: 48px;
line-height: 56px;
color: #000000
}
.left p{
font-weight: 300;
font-size: 21px;
line-height: 32px;
color: #7D7987;
}
.btnwrap button{
    border-radius: 55px;
    padding: 15px;
  cursor: pointer; 
background: #458FF6;
font-weight: 700;
font-size: 18px;
color: #FFFFFF;
border: none;
   
}